@charset "UTF-8";

body, body * {vertical-align: baseline; border: 0 none; outline: 0; padding: 0; margin: 0;}
#container_dc { position: absolute; width: 300px; height: 250px; cursor: pointer;}
#content_dc { position: absolute; width: 298px; height: 248px; border:1px solid #cacaca; background-color: #FFF; overflow: hidden; background-color:#ffd500;}

.logo {	position: absolute;width: 123px;height: 65px;left: 88px;top: 10px;background: url('img_logo.jpg') -0px -0px no-repeat;z-index: 0;}
.one.content     {position: absolute;width: 188px;height: 52px;left: 55px;top: 95px;background: url('img_text.png');z-index: 2;opacity: 0;}
.one.hand     {position: absolute;width: 200px;height: 88px;right: 0px;bottom: 0;background: url('hand.jpg') no-repeat;z-index: 2;opacity: 0;}

.two.copyVitamins   {position: absolute;width: 258px;height: 45px;left: 21px;top: 81px;background: url('img_text.png') -187px -1px;z-index: 3;opacity: 0;}
.two.pictureTablet  {position: absolute;width: 92px;height: 51px;left: 96px;top: 166px;background: url('fruitTablet.png');z-index: 2;opacity: 0;}
.two.pictureSwirlContainer  {position: absolute;width: 285px;height: 167px;left: 14px;top: 79px;z-index: 2;opacity: 0;}
.two.pictureSwirl  {position: absolute;width: 252px;height: 219px;left: 3px;top: 2px;background: url('swirl.png') no-repeat;z-index: 2;opacity: 1;}

.three.bottle     {position: absolute;width: 133px;height: 161px;left: 13px;top: 77px;background: url('img_bottle.jpg');z-index: 2;opacity: 0;}
.three.copy     {position: absolute;width: 133px;height: 62px;left: 135px;top: 98px;background: url('img_text.png') -446px 0px no-repeat;z-index: 2;opacity: 0;}
.three.button  {position: absolute;width: 93px;height: 22px;left: 161px;top: 167px;background: url('learnMorebtn.png');z-index: 2;opacity: 0;}
.three.legal  {position: absolute;width: 48px;height: 11px;right: 4px;bottom: 4px;background: url('img_text.png') -378px -49px no-repeat;z-index: 2;opacity: 0;}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

@-webkit-keyframes fadeInOut { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:0; } }
@-moz-keyframes fadeInOut { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:0; } }
@keyframes fadeInOut { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:0; } }

@-webkit-keyframes fadeIn { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:1; } }
@-moz-keyframes fadeIn { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:1; } }
@keyframes fadeIn { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:1; } }

@-webkit-keyframes fadeIn { 0%{ opacity:0; } 100% { opacity:1; }}
@-moz-keyframes fadeIn { 0%{ opacity:0; } 100% { opacity:1; } }
@keyframes fadeIn { 0%{ opacity:0; } 100% { opacity:1; } }


@-webkit-keyframes enlarge { 0%{ -webkit-transform:scale(0.5);opacity:0; } 100% { -webkit-transform:scale(1);opacity:1 }}
@-moz-keyframes enlarge {0%{ transform:scale(0.5); opacity:0; } 100% {transform:scale(1); opacity:1} }
@keyframes enlarge { 0%{ transform:scale(0.5); opacity:0; }  100% {transform:scale(1); opacity:1} }

@-webkit-keyframes spin { from {  -webkit-transform: rotate(0deg); -webkit-transform-origin:center; }	to	{-webkit-transform: rotate(720deg); -webkit-transform-origin:center;	}}
@-moz-keyframes spin  { from {  -moz-transform: rotate(0deg);  -moz-transform-origin:center;} to {  -moz-transform: rotate(720deg);  -moz-transform-origin:center; }}
@keyframes spin  {from {  transform: rotate(0deg); transform-origin:center; } to {   transform: rotate(720deg); transform-origin:center; }}

@-webkit-keyframes slideInOut { 0%{ opacity:0;  -webkit-transform: translate(25px,0px); } 15% { opacity:1;  -webkit-transform: translate(0px,0px);  } 85% { opacity:1;   -webkit-transform: translate(0px,0px); } 100% { opacity:0; -webkit-transform: translate(0px,0px);  } }
@-moz-keyframes slideInOut  { 0%{ opacity:0;  -moz-transform: translate(25px,0px); } 15% { opacity:1;  -moz-transform: translate(0px,0px);  } 85% { opacity:1;   -moz-transform: translate(0px,0px); } 100% { opacity:0; -moz-transform: translate(0px,0px);  }  }
@keyframes slideInOut  {0%{ opacity:0;  transform: translate(25px,0px); } 15% { opacity:1;  transform: translate(0px,0px);  } 85% { opacity:1;   transform: translate(0px,0px); } 100% { opacity:0; transform: translate(0px,0px);  }  }

.fade-in-out {
    opacity:0; -webkit-animation:fadeInOut ease-in 1; -moz-animation:fadeInOut ease-in 1; animation:fadeInOut ease-in 1;
    -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards; 	
	-webkit-animation-duration:5s; -moz-animation-duration:5s; animation-duration:5s;
}
.fade-in-out.one {-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; -webkit-animation-duration:4s; -moz-animation-duration:4s; animation-duration:4s;}
.fade-in-out.two {-webkit-animation-delay: 6.5s; -moz-animation-delay:6.5s; animation-delay: 6.5s; }
.fade-in-out.two.pictureTablet {-webkit-animation-delay: 6.5s; -moz-animation-delay:6.5s; animation-delay: 6.5s; -webkit-animation-duration:2.25s; -moz-animation-duration:2.25s; animation-duration:2.25s; }
.fade-in-out.two.pictureSwirlContainer {-webkit-animation-delay: 8.0s; -moz-animation-delay:8.0s; animation-delay: 8.0s; -webkit-animation-duration:2.5s; -moz-animation-duration:2.5s; animation-duration:2.5s; }

.fade-in {opacity:0; -webkit-animation:fadeIn ease-in 1; -moz-animation:fadeIn ease-in 1; animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;
 	-webkit-animation-duration:5s; -moz-animation-duration:5s; animation-duration:5s;
} 
.fade-in.two { -webkit-animation-delay: 5.5s; -moz-animation-delay: 5.5s; animation-delay: 5.5s; }
.fade-in.three { -webkit-animation-delay: 11.5s; -moz-animation-delay: 11.5s; animation-delay: 11.5s; -webkit-animation-duration:2.5s; -moz-animation-duration:2.5s; animation-duration:2.5s }
.fade-in.three.button { -webkit-animation-delay: 12.5s; -moz-animation-delay: 12.5s; animation-delay: 12.5s; -webkit-animation-duration:2.5s; -moz-animation-duration:2.5s; animation-duration:2.5s }

.spin-in-out {
     -webkit-animation:spin linear infinite; -moz-animation:spin linear infinite; animation:spin linear infinite;
    -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards; 	
	-webkit-animation-duration:1.5s; -moz-animation-duration:1.5s; animation-duration:1.5s;
}
.spin-in-out.two {-webkit-animation-delay: 6s; -moz-animation-delay: 6s; animation-delay: 6s;}

.slide-in-out {
    opacity:0; -webkit-animation:slideInOut ease-out 1; -moz-animation:slideInOut ease-out 1; animation:slideInOut ease-out 1;
    -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards; 	
	-webkit-animation-duration:4.4s; -moz-animation-duration:4.4s; animation-duration:4.4s;
}
.slide-in-out.one {-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;}