@charset "UTF-8";

body, body * {vertical-align: baseline; border: 0 none; outline: 0; padding: 0; margin: 0;}
#container_dc { position: absolute; width: 300px; height: 250px; cursor: pointer;}
#content_dc { position: absolute; width: 298px; height: 248px; border:1px solid #cacaca; background-color: #FFF; overflow: hidden; background-color:#ffd500;}

.logo {position: absolute; width: 124px; height: 42px; left: 14px; top: 6px; background: url(logo.png) no-repeat; z-index: 3;}
.contentRight1{position: absolute; width: 72px; height: 147px; left: 203px; top: 70px; background: url(bottleFirst.png)no-repeat; /* clip: rect(0px 23px 0px 0px); */ z-index: 2; opacity:0;}
.questionMark{position: absolute; width: 22px; height: 36px; left: 227px; top: 139px; background: url(questionMark.png)no-repeat; /* clip: rect(0px 23px 0px 0px); */ z-index: 2; opacity:0;}
.contentLeft2{ position: absolute; width: 155px; height: 160px; left: 11px; top: 79px; background: url(sprites.png) 0px -251px no-repeat; /* clip: rect(0px 23px 0px 0px); */ z-index: 2; opacity:0;}
.contentRight3{position: absolute; width: 161px; height: 217px; left: 140px; top: 29px; background: url(bottle.png)no-repeat; /* clip: rect(0px 23px 0px 0px); */ z-index: 2; opacity:0;}
.contentLeft4{position: absolute; width: 157px; height: 156px; left: 17px; top: 66px; background: url(sprites.png) -1px -79px no-repeat; /* clip: rect(0px 23px 0px 0px); */ z-index: 2; opacity:0; }
.contentRight5{position: absolute; width: 150px; height: 234px; left: 159px; top: 0px; background: url(sprites.png) -175px 28px no-repeat; /* clip: rect(0px 23px 0px 0px); */ z-index: 2; opacity:0;}
.contentLeft6{position: absolute; width: 167px; height: 95px; left: 13px; top: 57px; background: url(sprites.png) 0px 13px no-repeat; /* clip: rect(0px 23px 0px 0px); */ z-index: 2; opacity: 0;}
.learMoreBtn{position: absolute; width: 129px; height: 20px; left: 14px; top: 180px; background: url(learnmoreBtn.png) no-repeat; /* clip: rect(0px 23px 0px 0px); */ z-index: 2; opacity: 0;}
.legalText{position: absolute; width: 228px; height: 13px; left: 31px; top: 225px; background: url(sprites.png) 0px -238px no-repeat; /* clip: rect(0px 23px 0px 0px); */ z-index: 2; opacity: 0;}
.USPlogo{position: absolute; width: 56px; height: 50px; left: 155px; top: 131px; background: url(USPlogo.png)no-repeat; /* clip: rect(0px 23px 0px 0px); */ z-index: 2; opacity: 0;}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

@-webkit-keyframes fadeInOut { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:0; } }
@-moz-keyframes fadeInOut { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:0; } }
@keyframes fadeInOut { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:0; } }

@-webkit-keyframes fadeIn { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:1; } }
@-moz-keyframes fadeIn { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:1; } }
@keyframes fadeIn { 0%{ opacity:0; } 15% { opacity:1; } 85% { opacity:1; } 100% { opacity:1; } }

@-webkit-keyframes enlarge { 0%{ -webkit-transform:scale(0.5);opacity:0; } 100% { -webkit-transform:scale(1);opacity:1 }}
@-moz-keyframes enlarge {0%{ transform:scale(0.5); opacity:0; } 100% {transform:scale(1); opacity:1} }
@keyframes enlarge { 0%{ transform:scale(0.5); opacity:0; }  100% {transform:scale(1); opacity:1} }

@-webkit-keyframes slightPop { 0%{ transform:scale(0.8); opacity:0; } 5% {transform:scale(1.2); opacity:1} 10%{transform:scale(1); opacity:1} 95%{transform:scale(1); opacity:1} 100%{transform:scale(1); opacity:0}}
@-moz-keyframes slightPop { 0%{ transform:scale(0.8); opacity:0; } 5% {transform:scale(1.2); opacity:1} 10%{transform:scale(1); opacity:1} 95%{transform:scale(1); opacity:1} 100%{transform:scale(1); opacity:0}}
@keyframes slightPop { 0%{ transform:scale(0.8); opacity:0; } 5% {transform:scale(1.2); opacity:1} 10%{transform:scale(1); opacity:1} 95%{transform:scale(1); opacity:1} 100%{transform:scale(1); opacity:0}}
  
.fade-in-out {
    opacity:0; -webkit-animation:fadeInOut ease-in 1; -moz-animation:fadeInOut ease-in 1; animation:fadeInOut ease-in 1;
    -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards; 	
	-webkit-animation-duration:5.5s; -moz-animation-duration:5.5s; animation-duration:5.5s;
}
.fade-in-out.one {-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;}
.fade-in-out.two {-webkit-animation-delay: 6s; -moz-animation-delay:6s; animation-delay: 6s; }


.fade-in {opacity:0; -webkit-animation:fadeIn ease-in 1; -moz-animation:fadeIn ease-in 1; animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;
 	-webkit-animation-duration:5.5s; -moz-animation-duration:5.5s; animation-duration:5.5s;
} 
.fade-in.two { -webkit-animation-delay: 6s; -moz-animation-delay: 6s; animation-delay: 6s; }
.fade-in.three { -webkit-animation-delay: 11.5s; -moz-animation-delay: 11.5s; animation-delay: 11.5s; }


.enlarge{opacity:0; -webkit-animation:enlarge ease-out 1; -moz-animation:enlarge ease-out 1; animation:enlarge ease-out 1;
    -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;
 	-webkit-animation-duration:0.8s; -moz-animation-duration:0.8s; animation-duration:0.8s;
} 
.enlarge.two { -webkit-animation-delay: 6.5s; -moz-animation-delay: 6.5s; animation-delay: 6.5s; }

.slightPop{opacity:0; -webkit-animation:slightPop ease-out 1; -moz-animation:slightPop ease-out 1; animation:slightPop ease-out 1;
    -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;
 	-webkit-animation-duration:4.5s; -moz-animation-duration:4.5s; animation-duration:4.5s;
} 
.slightPop.two { -webkit-animation-delay: 1.3s; -moz-animation-delay: 1.3s; animation-delay: 1.3s; }